<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap.css">
    <style>
        .loginCenter {
            width: 500px;
            height: 600px;
            margin: 100px auto 0px auto;
        }
    </style>
</head>
<body>
<div class="loginCenter">
    <div class="inputBox">
        <form class="layui-form">
            <div class="form-group row">
                <label for="userNameInput" class="col-sm-2 col-form-label">UserName</label>
                <div class="col-sm-10">
                    <input type="text" name="username" class="form-control" id="userNameInput">
                    {:token_field()}
                </div>
            </div>
            <div class="form-group row">
                <label for="passWordInput" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="passWordInput" required
                           lay-verify="required">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" lay-submit class="btn btn-primary" lay-filter="submitBtn">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="__JS__/jquery-3.5.1.js"></script>
<script src="__BOOTSTRAP__/js/bootstrap.bundle.js"></script>
<script src="__LAYUI__/layui.js"></script>
<script>

    layui.use(['form', 'layer'], function () {
        let form = layui.form;
        let layer = layui.layer;

        form.render();

        form.on('submit(submitBtn)', function (obj) {
            console.log(obj);
            $.ajax({
                url: "{:url('store')}",
                data: obj.field,
                dataType: 'json',
                type: 'post',
                success: function (res) {
                    if(false == res[0]){
                        layer.msg(res[2], {icon: 5});
                        $("input[name='__token__']").val(res[1]);
                        return false;
                    }
                    layer.msg(res[1],{icon:6},function(){
                        location.href = "{:url('index')}";
                    })
                },
                error: function (res) {
                    let status = res['status'];
                    let message = '';
                    if (status == 500) {
                        message = '服务器解析错误';
                    }
                    layer.msg(message, {icon: 0})
                }
            })
            return false;
        })
    })
</script>

</body>
</html>